* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

a {
    color: #5a5a5a;
    text-decoration: none;
}

img {
    cursor: pointer;
}

.flexDiv {
    display: flex;  
    align-items: center;
}

nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: static;
    top: 0;
    z-index: 10;
}

.navRight img {
    width: 25px;
    margin-right: 25px;
}

.navRight .userIcon {
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}

.navLeft .menuIcon {
    width: 22px;
    margin-right: 25px;
}

.navLeft .logo {
    width: 130px; 
}

.navMiddle .micIcon {
    width: 16px;
}

.navMiddle .searchBox {
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.navMiddle .searchBox input {
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}

.navMiddle .searchBox img {
    width: 15px;
}